<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
<body>

   <header class="header">
    <div class="header-1">
        <div class="header-top">
            <div class="search-bar-section">
                <a href="/"><img class="logo" src="static/img/logo-mercado-liebre.svg" alt="Logo de Tu Sitio"></a>
            </div>
            <div class="search-bar-section2">
                <form class="form-serch"action="">
                    <input type="text" placeholder="Buscar...">
                    <button class="btn-inline" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
              <div class="buy-info-container">
            <div class="buy-info">
                <!-- Comprá en cuotas y sin tarjeta de crédito -->
                <p class="header-texto"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
    </div>
        <nav >
            <ul>
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tienda oficiales</a></li>
                <li><a href="#">Vender</a</li>
                <li><a href="#">Ayuda</a</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="centered-div">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
            
    
    </header>
    <img class="img-banner" src="static/img/img-home-banner.jpg" alt="">
    <main>
        
        <section>
            <h2 class="titulo-Prod">Basado en tu última visita</h2>
            <div class="product-container">
            <article class="product-desc-box">
                <img class="  img-fluid" src="static/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360px">
            <div class="info-prod"> 
                <i class="fa-solid fa-truck icono-envio"></i>
                <p class="Precios-Prod">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
             
            </article>
         
            <div class="product-container"></div>
            <article class="product-desc-box">
                <img class=" img-fluid" src="static/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="360px">
            <div class="info-prod">
                <i class="fa-solid fa-truck icono-envio"></i>
                <p class="Precios-Prod">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">MacBook Pro 2019</p>
            </div>
                
            </article>

            <article class="product-desc-box">
                <img class="  img-fluid" src="static/img/img-samsung-galaxy-s10.jpg" alt="Cafetera Moulinex" width="360px">
            <div class="info-prod"> 
                <i class="fa-solid fa-truck icono-envio"></i>
                <p class="Precios-Prod">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripciones"> Celular Samsung</p>
            </div>
             
            </article>
         
            
            <article class="product-desc-box">
                <img class=" img-fluid" src="static/img/img-tv-samsung-smart.jpg" alt="MacBook Pro 2019" width="360px">
            <div class="info-prod">
                <i class="fa-solid fa-truck icono-envio"></i>
                <p class="Precios-Prod">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">Samart TV</p>
            </div>
                
            </article>
           </div>
        </section>
        
        <section >
            <h2 class="titulo-Prod"> Ofertas</h2>
            <div class="product-container">
            <article class="product-desc-box">
                <img class="img-fluid" src="static/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360px">
            <div class="info-prod"> 
                <i class="fa-solid fa-truck icono-envio"></i>
                <p class="Precios-Prod">$6.770</p>
                <p class="descuentos">40% off</p>
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
               
            </article>
            <article class="product-desc-box">
                <img src="static/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="360px">
            <div class="info-prod">
                <i class="fa-solid fa-truck icono-envio"></i>
                <p class="Precios-Prod">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">MacBook Pro 2019</p>
            </div>
               
            </article>


            <article class="product-desc-box">
                <img class="img-fluid" src="static/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360px">
            <div class="info-prod"> 
                <i class="fa-solid fa-truck icono-envio"></i>
                <p class="Precios-Prod">$6.770</p>
                <p class="descuentos">40% off</p>
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
               
            </article>
            <article class="product-desc-box">
                <img src="static/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="360px">
            <div class="info-prod">
                <i class="fa-solid fa-truck icono-envio"></i>
                <p class="Precios-Prod">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">MacBook Pro 2019</p>
            </div>
               
            </article>
       
        </section>
    </main>
    <footer> 
        <div class="foot-1">
        <section class="seccion-footer">
            <i class="fa-solid fa-credit-card icono-footer"></i>
            <h2 class="title-footer">Pagá con tarjeta o en efectivo</h2>
            <p >Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
        </section>
        <section class="seccion-footer">
            <i class="fa-solid fa-gift icono-footer"></i>
            <h2 class="title-footer">Envío gratis desde $2.500</h2>
            <p >Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
       
            <section class="seccion-footer ">
            <i class="fa-solid fa-user-shield icono-footer"></i>
            <h2 class="title-footer">Seguridad, de principio a fin</h2>
            <p >¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    </div>
        
        <div class="foot-2"> 
            <section class="copyrigth">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </div>
       
    </footer>
</body>
</html>